<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>漏洞扫描管理系统</title>
<link rel="stylesheet" type="text/css" href="../../../js/libs/bootstrap-3.3.2-dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/signin.css"/>
<script type="text/javascript" src="../../../js/libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../../js/libs/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../js/apps/common.js"></script>
<script type="text/javascript" src="../../../js/apps/login.js"></script>
<script type="text/javascript" src="../../../js/libs/bootstrap-3.3.2-dist/js/bootstrap.js"></script>

</head>
<body>
	<div style="text-align: center;">
	  	<div class="container" >
	  		<div class="form-signin">
	  			<h2 class="form-signin-heading">漏洞扫描管理系统</h2>
	  			
	  			<label id="l_msg" class="checkbox"></label>
	  			<input type="text" id="username" class="input-block-level" placeholder="用户名" value='' style="font-size: 16px;height: auto;margin-bottom: 15px;padding: 7px 9px">
	  			<input type="password" id="password" class="input-block-level" placeholder="密码" style="font-size: 16px;height: auto;margin-bottom: 15px;padding: 7px 9px">
				<br>
	  			<button class="btn btn-large btn-primary" onclick="userLogin()">登录</button>
	  		</div>
	  	</div>
  	</div>

</body>
</html>