<!DOCTYPE HTML>
<html>
<head>
<title>完美世界漏洞扫描系统</title>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/structure.css">
<script src="/static/js/libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/apps/login.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/apps/common.js"></script>
</head>

<body>
<form class="box login">
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input type="text" tabindex="1" placeholder="root" id="username" name="form-username" required>
	  <label>Password</label>
	  <input type="password" tabindex="2" id="password" name="form-password" required>
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">Keep me logged in</label>
	  <input type="button" class="btnLogin" value="Login" tabindex="4" onclick="userLogin()">
	</footer>
</form>
<footer id="main">
  <a href="http://www.wanmei.com">完美世界</a> 
</footer>
</body>
</html>
