<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- menu -->
<div class="panel-group" id="sdk-panel" role="tablist"
	aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="sdk-menu-head-2">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-2"
					href="#sdk-menu-2" aria-expanded="true" raia-controls="sdk-menu-2"><i
					class="fa fa-cog"></i>&nbsp;资产发现 </a>
			</h4>
		</div>
		<div id="sdk-menu-2" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-2">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/assetactive/activepage">主动发现</a> <br> 
					<a href="javascript:void(0);" value="auth/assetpassive/passivepage">被动检测</a> <br>
					<a href="javascript:void(0);" value="auth/assetactive/taskpage">任务管理</a> <br>
					<a href="javascript:void(0);" value="auth/assetmanage/assetpage">资产管理</a> <br>
				</div>
			</div>
		</div>

		<div class="panel-heading" role="tab" id="sdk-menu-head-3">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-3"
					href="#sdk-menu-3" aria-expanded="true" raia-controls="sdk-menu-3"><i
					class="fa fa-cog"></i>&nbsp;数据管理 </a>
			</h4>
		</div>
		<div id="sdk-menu-3" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-3">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/synagent/synsetpage">同步设置</a> <br> <a
						href="javascript:void(0);" value="auth/synagent/urlpage">URL库</a> <br> 
				</div>
			</div>
		</div>

		<div class="panel-heading" role="tab" id="sdk-menu-head-4">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-4"
					href="#sdk-menu-4" aria-expanded="true" raia-controls="sdk-menu-4"><i
					class="fa fa-cog"></i>&nbsp;漏洞扫描</a>
			</h4>
		</div>
		<div id="sdk-menu-4" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-4">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/activetask/activepage">主动扫描</a> <br> <a
						href="javascript:void(0);" value="auth/passive/passivepage">被动检测</a> <br> <a
						href="javascript:void(0);" value="auth/scanapimanager/integratescanpage">集成扫描</a> <br> <a
						href="javascript:void(0);" value="auth/activetask/tasksetpage">任务管理</a> <br> <a
						href="javascript:void(0);" value="auth/vuln/vulnerpagenew">漏洞管理</a> <br>
				</div>
			</div>
		</div>

		<div class="panel-heading" role="tab" id="sdk-menu-head-5">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-5"
					href="#sdk-menu-5" aria-expanded="true" raia-controls="sdk-menu-5"><i
					class="fa fa-cog"></i>&nbsp;规则管理 </a>
			</h4>
		</div>
		<div id="sdk-menu-5" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-5">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/rule/rulepagenew">规则管理</a> <br>
					<a href="javascript:void(0);" value="auth/policy/policypagenew">策略管理</a> <br>
				</div>
			</div>
		</div>

		<div class="panel-heading" role="tab" id="sdk-menu-head-6">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-6"
					href="#sdk-menu-6" aria-expanded="true" raia-controls="sdk-menu-6"><i
					class="fa fa-cog"></i>&nbsp;引擎管理 </a>
			</h4>
		</div>
		<div id="sdk-menu-6" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-6">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/enginetype/enginetypepagenew">引擎管理</a>
					<br> <a href="javascript:void(0);"
						value="auth/engine/onlineenginepagenew">模块管理</a> <br>
				</div>
			</div>
		</div>
		
		<div class="panel-heading" role="tab" id="sdk-menu-head-7">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#sdk-panel-7"
					href="#sdk-menu-7" aria-expanded="true" raia-controls="sdk-menu-7"><i
					class="fa fa-cog"></i>&nbsp;用户管理 </a>
			</h4>
		</div>
		<div id="sdk-menu-7" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sdk-menu-head-7">
			<div class="panel-body">
				<div class="container-fluid">
					<a href="javascript:void(0);" value="auth/usermanage/usermanagepage">用户管理</a>
					<br> 
				</div>
			</div>
		</div>
	</div>
</div>
<!-- menu/end -->
