<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript"
	src="/static/js/apps/p1/passivescan/history.js"></script>
<div class="row">
	<div class="col-xs-12 sdk-content-select">
		<span><i class="fa fa-home"></i> </span><span
			class="sdk-content-select-n">&nbsp;DATAFRIENDS&nbsp;&nbsp;|&nbsp;
			&nbsp;</span><span class="sdk-content-select-e">被动扫描 > 请求历史</span> <span
			style="float: right;" class="form-inline"> <span><input
				class="form-control" type="text" id="domain" value=""
				placeholder="域名"> </span> <span class="input-group"> <input
				id="datepicker" type="text" class="form-control" readonly="readonly"
				value="" style="width: 190px;cursor: pointer;"> <span
				class="input-group-addon"> <i class="fa fa-calendar"></i> </span> </span> <span>
				<button class="btn btn-default" onclick="queryData();">查询</button> </span>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-2" id="content-menu"></div>
	<div class="col-xs-10" style="min-height: 760px;">
		<div class="container-fluid">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">请求历史</div>
					<div id="dataTablesDiv">
						<table id='table' class='common-table' width='100%' border='0'
							cellspacing='0'></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>