<div class="wrapper wrapper-content animated fadeIn">
<div class="row">
    <div class="col-lg-12">

         <!-- 一个panel-->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>流量镜像接口</h5>
            </div>

            <div class="ibox-content">
                <h5>总接收</h5>
                <h1 class="no-margins text-navy">886,200</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-bolt"></i>运行中... </div>
                <small>URL Income</small>
            </div>


            <div class="ibox-footer">
                <span class="pull-right">
                  The righ side of the footer
            </span>
                从网络流量中分析出的资产数据会提交到此接口,请根据需求进行配置
            </div>
        </div>

        <!-- 一个panel-->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>代理模式接口<small class="m-l-sm">This is custom panel</small></h5>
            </div>
            <div class="ibox-content">
                <p>
                    接收数量   是否加入扫描 选择扫描模板 增量扫描or全部扫描
                </p>
            </div>
            <div class="ibox-footer">
                <span class="pull-right">
                  The righ side of the footer
            </span>
                This is simple footer example
            </div>
        </div>

         <!-- 一个panel-->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>接口接收 <small class="m-l-sm">This is custom panel</small></h5>
            </div>
            <div class="ibox-content">
                <h5>URL Income</h5>
                <h1 class="no-margins">886,200</h1>
                <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                <small>总接收</small>
            </div>
            <div class="ibox-footer">
                <span class="pull-right">
                  The righ side of the footer
            </span>
                This is simple footer example
            </div>
        </div>
</div>
</div>